extends admin-layout

block content
	h1= title
	
	.container-fluid
		.row-fliud
			.span2
				include admin-navi
				
			#details.span10
				form(method='post', class='form-horizontal')
					input(type="hidden", name="_method", value="PUT")
					
					include page_form
					
					.control-group
						label.control-label= 'action'
						.controls
							button(type='submit', class='btn btn-success')= 'update'
							button(id='deleteButton', type='reset', class='btn btn-danger')= 'delete'
							script(type='text/javascript')
								$(document).ready(function() {
									$('#deleteButton').click(function(){
										$('#dialog').dialog('open');	
									});
									$("#dialog").dialog({
										autoOpen: false,
										height: 300,
										modal: true,
										buttons: {
											OK: function() {
												$('#deleteForm').submit();
												$(this).dialog('close');
											},
											Cancel: function() {
												$(this).dialog('close');
											}
										}
									});
								});
				form(id='deleteForm', method='post', class='form-horizontal')
					input(type="hidden", name="_method", value="DELETE")

			#dialog(title='delete?')
				p='really?'

					